html, body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-image: url('header.jpg');
    background-size: cover;
    height: 200px;
}

h1 {
    color: white;
    font-weight: 900;
    margin-left: 10px;
}

.switch{
    margin: 20px 10px 0 0;
    color: white;
    font-size: 32px;
    text-decoration: none;
}

.search{
    width: 350px;
    margin:-20px auto 0;
    display: flex;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 5px;
    background-color: white;
}

input{
    width: 200px;
    color: black;
    text-align: center;
    border: none;
}

.search-btn{
    border: none;
    background-color: white;
    width: 100%;
    border-left: 1px solid grey;
    cursor: pointer;
}

.main {
    width: 75%;
    margin:10px auto;
    color: black;
    text-align: center;
    display: block;
    justify-content: space-evenly;
}

.movie-poster {
    width: 20%;
    height: 80%;
    margin-right: 10px;
}

.movie-details {
    display: block;
    justify-content: space-evenly;
    text-align: left;
    width: 50%;
    margin-right: 10px;
    color: white;
}

.title-rating {
    display: flex;
    justify-content: left;
    margin-left: 15px;
}

.title{
    margin: 8px;
}

.rating{
    font-size: 15px;
    margin-top: 15px;
}

.time-type{
    display: flex;
    justify-content: left;
    margin-left: 15px;
}

.add-btn {
    border: none;
    align-self: center;
    border-radius: 50%;
    margin-bottom: 170px;
    width: 30px;
    height: 30px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    opacity: 0.8;
    background-image: linear-gradient( to bottom right, #03045e, #b5179e);
}

.disabled {
    display: none;
}

p {
    margin: 8px;
}

.plot-story {
    margin-left: 15px;
    text-align: left;
    margin-top: 2px;
}

.movie-card {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-image: linear-gradient( to bottom right, #03045e, #b5179e);
    width: 80%;
}