* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

input{
    width: 200px;
    color: black;
    text-align: center;
    border: none;
}

img.movie-poster {
    width: 20%;
    height: 80%;
    margin-right: 10px;
}

/* All HEADINGS AND PARAGRAPHS TAGS RESIDES HERE */
h1 {
    color: white;
    font-weight: 900;
    margin-left: 10px;
    font-size: 45px;
    text-shadow: 3px 3px #d90429;
}

h2.title{
    margin: 8px;
}

p.rating{
    font-size: 15px;
    margin-top: 15px;
}

p {
    margin: 8px;
}

p.plot-story {
    margin-left: 15px;
    text-align: left;
    margin-top: 2px;
}


/* ALL MY BUTTONS RESIDE BELOW THIS COMMENT */
button.add-btn {
    border: none;
    align-self: center;
    border-radius: 50%;
    margin-bottom: 170px;
    width: 30px;
    height: 30px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    opacity: 0.8;
    background-image: linear-gradient( to bottom right, #03045e, #b5179e);
}

button.switch{
    margin-top: 20px;
    margin-right: 10px;
    color: white;
    font-size: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 600;
    align-self: flex-start;
}

button.search-btn{
    border: none;
    background-color: white;
    width: 100%;
    border-left: 1px solid grey;
    cursor: pointer;
}


/* ALL DIVS RESIDEs BELOW HERE*/

div.search{
    width: 350px;
    margin:-20px auto 0;
    display: flex;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 5px;
    background-color: white;
}

div.movie-details {
    display: block;
    justify-content: space-evenly;
    text-align: left;
    width: 50%;
    margin-right: 10px;
    color: white;
}

div.main {
    width: 75%;
    margin:10px auto;
    color: black;
    text-align: center;
    display: block;
    justify-content: space-evenly;
    background-color: black;
}

div.title-rating {
    display: flex;
    justify-content: left;
    margin-left: 15px;
}

div.time-type{
    display: flex;
    justify-content: left;
    margin-left: 15px;
}

div.header {
    display: flex;
    justify-content: space-between;
    background-image: url('header.jpg');
    background-size: cover;
    height: 200px;
}

div.movie-card {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-image: linear-gradient( to bottom right, #03045e, #b5179e);
    width: 80%;
}

div.saved-movies{
    width: 50%;
    background-color: #d90429;
    height: 150px;
    margin: auto;
}